<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>

      <div mat-button [matMenuTriggerFor]="menu">
        {{globalService.userName}}
        <img class="login-img" src="./assets/img/profile.png" alt="">
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Cart</button>
        <button mat-menu-item>Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>
</p>
