<div class="login-container">
    <div class="login-card">
        
        <mat-card>
            <div class="login-img-container">
                <div>
                    <img class="login-img" mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu">
                </div>
                <div>
                    <mat-card-title>Login</mat-card-title>
                </div>
                <div *ngIf="error">
                    <p class="error-msg">Incorrect username or password!</p>
                </div>
            </div>
            
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input type="text" #test [(ngModel)]="username" matInput  placeholder="Ex. pat@example.com">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input type="text" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div class="login-btn">
                <button mat-raised-button color="primary" (click)="login()">Login</button>
              </div>
              
              <div>
                <p>Dont have an account?? <span class="register" routerLink="/register">register here</span> </p>
              </div>
              
        </mat-card>
    </div>
</div>


